
.invisible{
  top: 25px;
  left: 1px;
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 30px;
  border-radius: 20px;
  margin-left: 0px;
}

.wing{
  top: 50px;
  left: 6px;
  position: absolute;
  z-index: 1;
  background-color: blue;
  height: 23px;
  width: 25px;
  border-radius: 100%;
  margin-left: 10px;

}

.bubble{
  top: 0px;
  left: 16px;
  position: absolute;
  z-index: 3;
  background-color: blue;
  height: 70px;
  width: 50%;
  border-radius: 15px;
  margin-left: 15px;

}
