body{
  font-family: sans-serif;
  margin: 0;
  font-size: 30px;
}

main{
  position: relative;
  top: 0%;
  left: 0%;
height: 600px;
}

div > p{
  color: white;
  margin-left: 10px;
}

.grayChatBubble1 p{
  color: black;
}


/*Below is where you reposition the entire chat bubbles*/
.grayChatBubble1{
  position: relative;
  top: 25%;
  left: 0%;

}

.blueChatBubble1{
  position: relative;
  top: 5%;
  left: 0%;
}

.blueChatBubble2{
  position: relative;
  top: 40%;
  left: 0%;
}

.blueChatBubble3{
  position: relative;
  top: 65%;
  left: 0%;
}

.blueChatBubble4{
  position: relative;
  top: 85%;
  left: 0%;
}


/*Below you will be able to modify the height of the chat bubbles*/
/*you may have to play with the wings and invisibles*/


#bBubble2{
  height: 120px;
}
#bInvisible2{
  top:72px;
}
#bWing2{
  top: 101px;
}

#bBubble3{

}

#bBubble4{
  height: 120px;
}

#bWing4{
  top: 98px;
}

#bInvisible4{
  top: 68px;
}


.gInvisible{
  top: 25px;
  left: 1px;
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 30px;
  border-radius: 20px;
  margin-left: 0px;
}

.gWing{
  top: 50px;
  left: 6px;
  position: absolute;
  z-index: 1;
  background-color: lightgray;
  height: 23px;
  width: 25px;
  border-radius: 100%;
  margin-left: 10px;

}

.gBubble{
  top: 0px;
  left: 16px;
  position: absolute;
  z-index: 3;
  background-color: lightgray;
  height: 70px;
  width: 50%;
  border-radius: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.bInvisible{
  top: 39px;
  right: 5px;
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 30px;
  border-radius: 20px;
  margin-left: 0px;
}

.bWing{
  top: 68px;
  right: 19px;
  position: absolute;
  z-index: 1;
  background-color: blue;
  height: 23px;
  width: 25px;
  border-radius: 100%;
  margin-left: 10px;

}

.bBubble{
  top: 0px;
  right: 35px;
  position: absolute;
  z-index: 3;
  background-color: blue;
  height: 90px;
  width: 50%;
  border-radius: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

/*footer*/
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: baseline;
  justify-content: space-between;
  margin-left: 30px;
  margin-right:30px;
  
   height: 60px; 
}

.inputMessage{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.inputMessage input{
  width: 100%;
  border: 2px solid rgba(128, 128, 128, 0.42);
  border-radius: 40px;
  font-size: 40px;
  padding: 0px;
  padding-left: 20px;
  height:80px;

}

img{
  height: 65px;
  width: 87px;
}
.inputMessage img{
  margin-left: -93.5px;
}

footer{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
