body{
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
}

main{
  position: relative;
  top: 0%;
  left: 0%;
height: 600px;
}

div > p{
  color: white;

}

.grayChatBubble{
  position: relative;
  top: 20%;
  left: 0%;

}

.blueChatBubble{
  position: relative;
  top: 5%;
  left: 0%;
}

.gInvisible{
  top: 25px;
  left: 1px;
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 30px;
  border-radius: 20px;
  margin-left: 0px;
}

.gWing{
  top: 50px;
  left: 6px;
  position: absolute;
  z-index: 1;
  background-color: lightgray;
  height: 23px;
  width: 25px;
  border-radius: 100%;
  margin-left: 10px;

}

.gBubble{
  top: 0px;
  left: 16px;
  position: absolute;
  z-index: 3;
  background-color: lightgray;
  height: 70px;
  width: 50%;
  border-radius: 15px;
  margin-left: 15px;

}
.bInvisible{
  top: 25px;
  right: 5px;
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 50px;
  width: 30px;
  border-radius: 20px;
  margin-left: 0px;
}

.bWing{
  top: 52px;
  right: 21px;
  position: absolute;
  z-index: 1;
  background-color: blue;
  height: 23px;
  width: 25px;
  border-radius: 100%;
  margin-left: 10px;

}

.bBubble{
  top: 0px;
  right: 35px;
  position: absolute;
  z-index: 3;
  background-color: blue;
  height: 70px;
  width: 50%;
  border-radius: 15px;
  margin-left: 15px;

}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: baseline;
  justify-content: space-between;

}

.inputMessage{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.inputMessage input{
  width: 100%;
  border: 2px solid grey;
  border-radius: 40px;
  font-size: 40px;
  padding: 0px;
  padding-left: 20px;

}
